body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background: linear-gradient(to bottom right, #2ecc71, #3498db, #9b59b6);
    color: white;
}

input.text {
    border: none;
    border-bottom: 1px solid rgb(50, 50, 50);
    outline: none;
}

h1 {
    font-size: 45px;
    padding-bottom: 80px;
}

#buttons {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#back-button {
    position: absolute;
    left: 20px;
    border: none;
    background-color: transparent;
}

#backimg {
    width: 35px;
}

#register {
    width: 90%;
    max-height: 90%;
    padding: 20px;
    box-sizing: border-box;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#register-button {
    width: 80%;
    max-width: 20rem;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
}

#register h1 {
    text-align: center;
    margin-bottom: 20px;
}

#register-form label.text {
    display: block;
    position: relative;
}

#register-form input.text {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background: transparent;
}

#register-form input.cb {
    vertical-align:middle;
    margin-left:8px;
}


#register-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#register-form button:hover {
    background-color: #333;
}

#register-form a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
}
