body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../screens/img/background.jpg");
    background-size: cover;
 }
 
#wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#buttons {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#back-button {
    position: absolute;
    left: 20px;
    border: none;
    background-color: transparent;
}

#search-button {
    position: absolute;
    right: 20px;
    border: none;
    background-color: transparent;
}

#backimg {
    width: 35px;
}

#searchimg {
    width: 35px;
}

#title {
    color: white;
    font-size: 40px;
}

#form {
    height: 30px;
    padding-bottom: 20px;
}

#search, #submit {
    height: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

#submit {
    height: 120%;
    background-color: rgb(32, 75, 245);
}

#search-results {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 5px;
    background-color: rgba(180, 180, 180, 0.2); /* 50% transparent */
    padding: 5px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    
}

li {
}